
.home-page .content {
    margin: 0px auto 0px auto;
    min-width: none;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
}

.home-page h2 {
    color: #E4EAF8;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.search-container {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
    margin: 40px 75px;
}
.search-bar {
    border-bottom: 1px solid #94ABE1;
    display: flex;
    align-items: center;
    padding: 5px;
    color: #94ABE1;
}

.search-bar input[type="text"] {
    margin-left: 10px;
    background-color: transparent;
    color: #94ABE1;
}

.search-bar input::placeholder {
    font-family: "Montserrat Alternates", sans-serif;
    color: #94ABE1;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-grid img {
    width: 200px;
    border-radius: 5px;
}

.movie-card {
    margin: 0px 15px 5px 15px;
}
