
.home-page .content {
    margin: 0px auto 0px auto;
    min-width: none;
    max-width: 1500px;
}

.home-page h2 {
    color: #E4EAF8;
    margin-left: 40px;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-grid img {
    width: 200px;
    border-radius: 5px;
}

.movie-card {
    margin: 0px 15px 5px 15px;
}
