
nav {
    background-color: #1F2D4B;
    margin-bottom: 20px;
    height: 70px;
}

.nav-content {
    margin: 0px auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    padding: 0px 30px;
}

.title {
    display: flex;
    font-size: 30px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    color: #94ABE1;
}

.search-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button {
    background-color: #E4EAF8;
    padding: 6px 16px;
    border-radius: 5px;
    font-family: "Montserrat Alternates", sans-serif;
}





